HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Firebase Service Account Keys ###
# Ignore all Firebase service account JSON files (contains sensitive credentials)
**/firebase/*.json
src/main/resources/firebase/*.json
# Optional: If you rename your file to serviceAccountKey.json, it will also be ignored
**/serviceAccountKey.json